.idea/
.pytest_cache/
.venv/
.vscode/
__pycache__/
allure-report/
allure-results/
build/
chromedriver*.exe
coverage.xml
dist/
htmlcov/
video_review/
video_review_ffmpeg/
*.log
*.py[cod]
*.tmp
.coverage
venv/
