.pytest_cache/
pytest-cache-files-*/
__pycache__/
*.py[cod]
*.log
.venv/
.idea/
.vscode/
allure-report/
allure-results/*
!allure-results/.gitkeep
artifacts/*
!artifacts/.gitkeep
.tools/
.selenium-cache/
.chrome-shot/
!artifacts/allure-report.png
.chrome-tmp/
